@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mt-5"><strong>Welcome to BookNogging</strong></h1>
</div>
<div class="text-center">
    <img src="~/imgs/anotherlogo.jpg" alt="Centered Image">
</div>